<!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
     <div class="container">
         <a class="navbar-brand" href="#page-top"></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             Menu
             <i class="fas fa-bars ms-1"></i>
         </button>
        <div class ="button_toilet">
           <div class="button_solid017">
            <a href="http://localhost:3000/hello">Top</a>
           </div>
           <div class="button_solid018">
            <a href="http://localhost:3000/gabs">Home</a>
           </div>
           <div class="button_solid019">
            <a href="http://localhost:3000/garbages">ゴミ箱一覧</a>
           </div>
           <div class="button_solid020">
            <a href="http://localhost:3000/toilets">トイレ一覧</a>
           </div>
           <div class="button_solid021">
            <a href="http://localhost:3000/maps">Map</a>
           </div>
        </div>
         
     </div>
 </nav>
 <div class="toilet2_post">
<%= form_for @garbage do |f| %>
    <div class="post-container">
    <p class="title">編集</p>
    <%= form_for(@garbage, :url => { controller:'toilets', action:'create'})do |f| %>

    <div class="form-group row">
      <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
        <div class="col-md-9">
           <%= f.text_field :title, class: "form-controler" %>
        </div>
    </div>

    <br>

    <div class="form-group row">
    <%= f.label :title, '内容や住所等' , class:'col-md-3 col-form-label'%>
        <div class="col-md-9">
        <%= f.text_field :body,class: "form-controler" %>
        </div>
    <% end %>

  <br></br>

  <p>タグ選択</p>
  <div class="form-group">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group row" id="star-rating">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
 
     <div class="post_form">
        <%= f.radio_button :overall, 5 ,id: 'star1'%>
        <label for="star1"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :overall, 4 ,id: 'star2'%>
        <label for="star2"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :overall, 3 ,id: 'star3'%>
        <label for="star3"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :overall, 2 ,id: 'star4'%>
        <label for="star4"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :overall, 1 ,id: 'star5'%>
        <label for="star5"><span class="text">最悪</span>★</label>
     </div>
  </div>

  <div class="form-group row" id="field">
  <%= f.label :rate,'投稿画像 ', class:'col-md-3 col-form-label' %>
    <%= f.file_field :image %>
  </div>

  <br>

  </div>

    <%= f.submit "編集する",class: "btn btn-info mr-3" %>
 </div>
<% end %>
</div>
